:root {
    --size: 40;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.game {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr 2fr;
  }

.world {
    max-height: 100%;
    display: grid;
    grid-template-columns: repeat(var(--size), auto);
    grid-template-rows: repeat(var(--size), auto);
    grid-column: 2;
  }

.tile {
    height: 100%;
    width: 100%;
    background: center / cover no-repeat;
}

.tile:hover {
  border: 1px solid white;
  margin: -1px;
}

[data-type='sky'] {
    background-color: lightblue;
  }

  [data-type='cloud'] {
    background-color: whitesmoke;
  }

  [data-type='grass'] {
    background-image: url('./img/grass.png');
  }

  [data-type='ground'] {
    background-image: url('./img/ground.jpg');
  }

  [data-type='trunk'] {
    background-image: url('./img/trunk.jpg');
  }
  
  [data-type='leaves'] {
    background-image: url('./img/tree-leaves.png');
  }
  
  [data-type='rock'] {
    background-image: url('./img/rock.png');
  }

  .sidebar {
    grid-column: 4;
    background-color: darkslategray;
    color: lightsteelblue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .inventory {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tool, .inventoryBox {
    border: 3px solid black;
    width: 5rem;
    height: 5rem;
    margin-bottom: 2rem;
  }

  .tool img {
    padding: 0.5rem;
    width: 100%;
    height: 100%;
  }

  .resetBtn {
    padding: 1rem;
    border-radius: 0.5rem;
    color: darkslategray;
    background-color: lightsteelblue;
    border: none;
  }

  .resetBtn:hover, .tool:hover, .inventoryBox:hover, .selected {
    color: white;
    background-color: darkgray;
    border: white 3px solid;
  }
  

  